[submodule "addon/hugo-easy-gallery"]
	path = addon/hugo-easy-gallery
	url = https://github.com/liwenyip/hugo-easy-gallery/
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
